<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="TzTV-35x-TsaYohpv8AAiLgt0gzocWAgTyb8e1rz3jo" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="It is online IDE with python interpreter. Quick and easy way to run python program online. It supports python3.">
    <meta name="keywords" content="Python, Online compiler, Interpreter, python3, Online python">
    <meta name="author" content="Mavin Sandeep">
    <title>Python Online Interpreter</title>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1547967704776875"
     crossorigin="anonymous"></script>
</head>
<body>
   <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo center">Online python Interpreter</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="https://codingwithms-60edd.web.app/">By:Coding_with_ms__</a></li>
        
      </ul>
    </div>
  </nav>
<py-repl>
</py-repl>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDhbbK8si4HhCaLVNdVHi433cB8Zhnby8g",
    authDomain: "online-python-interpreter.firebaseapp.com",
    projectId: "online-python-interpreter",
    storageBucket: "online-python-interpreter.appspot.com",
    messagingSenderId: "141191044237",
    appId: "1:141191044237:web:1e4b869449dedf4e8516c4",
    measurementId: "G-CYMWN6F606"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
</body>
</html>
